body {
  background: linear-gradient(45deg, #204060, #502050) fixed;
}
h1 {
  color: #0099ff;
  font-family: 'Segoe UI', sans-serif;
  line-height: 0.3;
  font-size: 5vw;
  text-align: center;
}
p {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  font-size: 1vw;
  text-align: center;
}
