body {
  background-color: #202030;
}
h1 {
  color: #0099ff;
  font-family: 'Segoe UI', sans-serif;
  line-height: 0.5;
  font-size: 72px;
  text-align: center;
}
p {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
}
